	<insert id="insert" keyProperty="id">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(UUID(),'-','') from dual
		</selectKey>
		<![CDATA[
			INSERT INTO $mapper.tableName (
#foreach($mapping in $mapper.mappings)
			$mapping.column#if($velocityCount<$mapper.mappings.size()),#end\n
#end
			) VALUES (
#foreach($mapping in $mapper.mappings)
			$mapping.property#if($velocityCount<$mapper.mappings.size()),#end\n 
#end
			)
		]]>
	</insert>